/* for all devices */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(cap-images/newbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
  font-size: 1rem;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
}


body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
@media screen and(max-width: 600px){
    body{
        margin: 0;
        padding: 0;
    }
}
    



/*   HEADER AND NAVIGATION SECTION */

header{
    background-image: url(alx-images/newbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* Styles for Mobile devices(767px) */
@media screen and (max-width: 767px) {
    header {
        padding: 15px;
    }

    nav li {
        margin-right: 10px;
    }
}

/* Styles for Tablet (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 20px;
    }

    nav li {
        margin-right: 30px;
    }
}

/* Styles for Desktop (1024px and above) */
@media screen and (min-width: 1024px) {
    header {
        padding: 30px;
    }

    nav li {
        margin-right: 40px;
    }
}


.head{
    display: flex;
    justify-content: space-between;
    
}

.logo h1{
    font-family: cursive;
    color: white;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 20px;
    list-style-type: none;
    
}
nav ul li:hover{
    animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}



nav ul li a:hover{
color: orangered;
}

nav ul li a:active{
    color: orangered;
}


/* Media query for mobile devices */

@media (max-width: 768px) {
    header {
        position: relative; 
        
    }


    .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px; 
        right: 10px; 
    }

    .menu-toggle :hover{
        background-color: orangered;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    nav {
        display: none;
        position: absolute;
        top: 50px;
        right: 45px;
        background-color: transparent;
        width: 8rem;
        text-align: right;
        z-index: 1;
    }
    nav ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    nav li{
        margin: 10px 0 0 0;
        padding-right: 2rem;
    }

    nav ul li:hover{
        animation: zoomInOut 2s infinite;
    }
    
    @keyframes zoomInOut {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }

    
    nav.show-nav {
        display: flex;
    }
    
.show-nav {
     
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.7); 

 
}


}



header .header-img{
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  margin-top: 100px;
}

header .header-img img{
    width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
}

header .header-img h1{
    color: orangered;
    animation: headerAnimation 2s linear infinite; 
}

@keyframes headerAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

header .header-img h4{
    color: white;
    animation: headerAnimationH4 2.5s linear infinite; 
}

@keyframes headerAnimationH4 {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


   /* MY ABOUT SECTION */

#about{
    margin-bottom: 2rem;
    
}





/* Styles for Mobile (Up to 767px) */
    #about {
        padding: 20px;
    }

    #about h2 {
        font-size: 24px;
    }

    #about p {
        font-size: 16px;
    }

    #about img{
        max-width: 150%;
        height: 20rem;
       width: 600rem;
    }

    #about .abt-info{
        width: 50%;
    }
    #about .abt-info h1, h3, h4{
      padding-left: 2rem; 
    }

    #about .abt-box{
        display: flex;
        flex-direction: column;
        
    }

    #about .abt-box p{
        margin: 20px;
    }
    #about .abt-box .nam-add{
        text-align: center;
        display:flex;
        flex-direction: column;
        margin: 1rem;
    }
    #about .abt-box .age-pho{
        text-align: center;
        display:flex;
        flex-direction: column;
        margin: 1rem;
    }
    #about .abt-box .exp-fre{
        text-align: center;
        display:flex;
        flex-direction: column;
        margin:1rem ;
    }


/* Styles for Tablet (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #about {
        padding: 30px;
    }

    #about h2 {
        font-size: 28px;
    }

    #about p {
        font-size: 18px;
    }
}

/* Styles for Desktop (1024px and above) */
@media screen and (min-width: 1024px) {
    #about {
        padding: 40px;
    }

    #about h2 {
        font-size: 32px;
    }

    #about p {
        font-size: 20px;
    }

    .abt-box .nam-add{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}




.my-abt{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.my-abt img{
    width: 20%;
    height: 350px;
    margin-top: 4rem;
}
.abt-info h3{
    color: orangered;
    padding-top: 4rem;
}
.abt-info h1{
    color: white;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 4px;
    margin-bottom: 2rem;
}
.abt-info h4{
    color: white;
    margin-bottom: 2rem;
}
.abt-box{
    border: 2px solid orangered;
    color: white;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.abt-box .nam-add{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.abt-box .age-pho{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.abt-box .exp-fre{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.abt-box .email{
margin-top: 20px;
padding-bottom: 2rem;
}

.abt-box .github{
    padding-bottom: 2rem;
}
.abt-box .github a{
    margin-top: 20px;
    color: white;
}

.abt-box .github a:hover{
    color: orangered;
}

.abt-box .linked{
    padding-bottom: 2rem;
}
.abt-box .linked a{
    margin-top: 20px;
    color: white;
}
.abt-box .linked a:hover{
    color: orangered;
}


#but{
    margin-top: 2rem;
    align-items: center;
    box-shadow: 3px 3px 3px 3px gray;
}
#but:hover{
background-color: rgb(28, 28, 76);

}

/* SKILLS SECTION */
#skills{
    background-color: rgb(33, 33, 80);
    border-radius: 3rem;
    margin-bottom: -2rem;
}
#skills h2{
    text-align: center;
    color: white;
    padding-top: 2rem;
    font-size: 3rem;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#skills ul li{
    color: white;
    margin-left: 2rem;
    margin: 2rem;
    
}

.skills-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.skill {
    margin-bottom: 10px;
    margin-left: 2rem;
    color: white;
    padding-bottom: 2rem;
}

.skill-label {
    font-weight: bold;
    margin: 20rem;

    
}

.skill-bar {
    width: 50%;
    background-color: #ccc;
    border-radius: 5px;
    height: 30px;
}

.skill-progress {
    height: 100%;
    line-height: 30px;
    color: white;
    background: orangered;
    border-radius: 5px;
    
}


@keyframes fill {
    0% {
        width: 0;
    }
}

/* Responsive Layout for Mobile (up to 600px) */
@media (max-width: 600px) {
    .skills-container {
        width: 90%;
    }

    .skill-info h2{
        animation: pulse 2s infinite;

    }
    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }

    .skill-bar {
        height: 20px;
    }

    .skill-progress {
        line-height: 20px;
    }
}

/* Responsive Layout for Tablet (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .skills-container {
        width: 70%;
    }

    .skill-bar {
        height: 25px;
    }

    .skill-progress {
        line-height: 25px;
    }

    .skill-label{
        font-size: 0.7rem;
        text-align: center;
    }
}

/* Responsive Layout for Desktop (1025px and above) */
@media (min-width: 1025px) {
    .skills-container {
        width: 60%;
    }
}

   /* CONTACT SECTION */


#contact{
    background-color: lightskyblue;
    text-align: center;
    padding-top: 4rem;
}

.contact-info h1{
color: white;
font-size: 2rem;
animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.contact-form{
    background-color: white;
    text-align: center;
    margin-top: 4rem;
    border-radius: 10rem;
    margin: 2rem;
    padding-top: 2rem;
    
}

.contact-form h3{
    padding-bottom: 2rem;
    color: orangered;
}

.contact-form .form-group{
    margin: 2rem;
}
.contact-form label{
    text-align: center;
}
.contact-form .form-group input{
    width: 50%;
}

.form-group #message{
    display: flex;
    text-align: center;
    justify-content: center;
}

textarea{
    width: 50%;
    height: 7rem;
    text-align: left;
    
}

button{
    padding: 0.7rem;
    background-color: orangered;
    box-shadow: 5px 5px 5px gray;
    border: none; 
    color: #000; 
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: transform 2s ease-in-out;
    
}


button:hover{
    background-color: blue;
    color: white;
    animation: buttonAnimation 2s;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* FOOTER */

#footer{
    background-color: rgb(38, 52, 81);
    margin-top: -2rem;
    
}
.my-footer{
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.my-footer a{
    text-decoration: none;
    
}

.my-footer a h5{
    font-size: 1rem;
    color: white;
    font-family: cursive;
}

/* For mobile devices */
#footer {
    font-size: 0.7rem;
    
   
}

#footer h5{
    font-size:0.7rem ;
    margin-right: 2rem;

}



/* For tablets and larger screens */
@media screen and (min-width: 768px) {
    #footer {
        font-size: 1.5rem;
        padding: 20px;
        
    }
}


/* For larger screens */
@media screen and (min-width: 1024px) {
    #footer {
        font-size: 1.5rem;
        padding: 30px;
        
    }
}




